body, html {
  margin: 0;
  padding: 0;
  background: #111;
  font-family: verdana;
}

canvas {
  position: absolute;
  z-index: 0;
}

.ui{
  position: absolute;
  right: 0px;
  z-index: 1;
}

.ui .panel{
  border: 1px solid #ddd;
  background-color: #ccc;
  padding: 10px;
  text-align: right;
  width: 200px;
}

.ui h3{
  margin: 3px;
}

.ui button{
  /*padding-top: 0;*/
  width: 50px;
  height: 50px;
  font-size: 10px;
  padding: 0px 0px;
}
.ui .grid button{

}
.ui button.selected{
  background-color: yellow;
}
.ui button img{
  width: 32px;
  height: 32px;
}

.ui .panel .order div{
  border:1px solid black;
  display:inline;
  font-size: 10px;
}
.ui .panel .log .message{
  border:1px solid black;
  font-size: 10px;
}
