@font-face {
    font-family: Freshman;
    src: url(Freshman.ttf);
}

border-colour = #DD9877
background-colour = #876655
colour = #EECCA9

body, html {
  margin: 0;
  padding: 0;
  background: #111;
  font-family: Freshman;
}

canvas {
  position: absolute;
  z-index: 0;
}

.menu{
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 1;
}

.ui {
  .panel{
    border: 2px solid border-colour;
    background-color: background-colour;
    color: colour
    padding: 4px;
    text-align: right;
    width: 200px;
    border-radius: 4px;
    margin-bottom: 4px
  }
  .panels .panel{
    display: inline-block
    position: absolute
  }

  h3{
    margin: 3px;
    font-weight: normal;
    border-radius: 4px;
    border: 1px solid border-colour
    color: background-colour
    background-color: colour
    padding: 2px
    font-size: 16px
    text-align: left
  }

  button{
    /*padding-top: 0;*/
    width: 50px;
    height: 50px;
    font-size: 10px;
    padding: 0px 0px;
    border: 1px solid border-colour
    color: background-colour
    background-color: colour
  }
  .grid button{

  }
  button.selected{
    background-color: yellow;
  }
  button img{
    width: 32px;
    height: 32px;
  }
  //ORDER PANEL
  .panel .order div{
    display:inline;
    font-size: 10px;
  }
  // LOG PANEL
  .log.panel{
    position: absolute;
    width: 300px
    height: 200px
    .logs{
      margin-top: 4px
      border:1px solid border-colour
      height: 170px
      overflow-x: hidden
      overflow-y: scroll
    }
  }
  .panel .log .message{
    font-size: 10px;
  }

}

// TIME panel
.time.panel{
  .speed{
    button{
      height: 20px
    }
  }
}

.hiring.panel{
  width:310px;
}


.bar.component{
  border:1px solid black;
  height: 20px;
  width: 150px;
  position: relative;
  display: inline-block
  .inner{
    background-color: green;
    position: absolute;
    top: 0;
    height: 100%;
  }
  .text{
    position: absolute
  }
}

.close{
  float:right;
  cursor: pointer
}
