#ui
	position: absolute;
	width: 135px;
	right: 0;
#ui .selector
	background: lightgreen
	padding: 10px
	border-radius: 10px
	text-align: center
	margin: 5px

#ui .selector.selected
	background: green

#ui .selector .selected
	color: green


