#ui .selector
	background: lightgreen
	padding: 10px
	border-radius: 10px
	text-align: center
	width: 200px
	clear: both
	margin: 5px
	z-index: 1
	position: absolute
	right: 10px

#ui .selector.selected
	background: green

#ui .selector .selected
	color: green



#modeSelector
	top: 5px

#blockSelector
	top: 70px

#roomSelector
	top: 135px

#speedSelector
	top: 285px

#itemSelector
	top: 350px

