#ui .selector
	position: absolute

	right: 10px
	background: lightgreen
	padding: 10px
	border-radius: 10px
	text-align: center

#ui .selector.selected
	background: green

#ui .selector .selected
	color: green



#modeSelector
	top: 30px

#blockSelector
	top: 120px

#roomSelector
	top: 210px


#speedSelector
	top: 385px

